{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script>
    var message_ele = document.getElementById("message");
    setTimeout(function () {
        message_ele.style.display = "none";
    }, 3000);
// Timeout is 3 sec, you can change it
</script>
<body class="bg-light">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark text-light">
        <!-- Navbar content -->
        <a class="navbar-brand" href="{% url 'main:home' %}">SRIP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class='navbar-nav'>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'project:list_projects' %}">Projects</a>
            </li>
        {% if user.role == 1 %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main:displaypoints' %}">Performance</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main:logcommit' %}">Log Issue</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main:submitreport' %}">Report</a>
            </li>
        {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'mentor:evaluation' %}">Evaluate</a>
            </li>
            {% endif %}
        </ul>
        <div class="ml-auto mr-auto">
        </div>

            <ul class="navbar-nav mr-right">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    {% if user.role == 1 %}
                    <a class="nav-link" href="{% url 'registration:profile_student' %}" request="POST">{{ user.username }}</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'mentor:profile_mentor' %}" request="POST">{{ user.username }}</a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Register
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-light" href="{% url 'registration:register_student' %}">As Student</a>
                        <a class="dropdown-item text-light" href="{% url 'mentor:register_mentor' %}">As Mentor</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'social:begin' 'github'%}">Login</a>
                </li>
                {% endif %}
            </ul>
            </div>
    </nav>
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div>
        <img src='{% static "SRIP.png" %}' style="max-width: 100%">
    </div>
    {% block content %}
    {% endblock %}
    <br>
</body>

</html>