{% extends 'main/base.html' %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<br>
<div class='container-fluid shadow rounded bg-light' style="padding:20px;">
  <h1>About SRIP</h1>
  <p>SRIP stands for Student Research Internship Program</p>
</div>
<br>
<br>
<br>
<br>

<div class='container-fluid'>
  <h2> Recommended Repositories</h2>
  <div id='recomm' class ="shadow rounded bg-light container-fluid" style="padding: 20px;">
    {% for item in data.items %}
    {% if forloop.counter == 1 %}
      <div class="row">
    {% endif %}
    {% if forloop.counter == 4 %}
      <div class="row">
    {% endif %}
      <div class="col-4 card-group">
        <div class="card bg-light shadow">
        <div class="card-header bg-info">
          <div class="row">
            <a class="col-9 text-light" target='_blank' href={{item.html_url}}>
              {{item.full_name}}
            </a>
            <!-- <div class="col-2 text-dark">Forks:{{item.forks}}</div> -->
            <div class="col-3 text-light text-right">Issues: {{item.open_issues_count}}</div>
          </div>
        </div>
        <div class="card-body bg-light">
          <a target='_blank' href={{item.html_url}}>
            <div class='title text-dark'>
              <h3> {{item.name}} </h3>
            </div>
          </a>
          <div class="text-dark">
            {% if item.description == "None" %}
            "Description not provided."
            {% else %}
            {{item.description}}
          </div>
          {% endif %}
        </div>
        <div class="card-footer bg-light">
          <div class="row">
            <div class="col-6 text-dark"><strong> Language: </strong>
              {{item.language}} </div>
              <div class="col-6 text-dark text-right"><strong>Updated: </strong>
                {{item.updated_at}}
              </div>
            </div>
          </div>
        </div>
        </div>
        {% if forloop.counter == 3 %}
      </div>
      <br>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
 <div style="background-color: black">    
  <div id="results" class="container">
      {% for item in data.items %}
      {% if forloop.counter0|divisibleby:2 %}
        <div class="row">
      {% endif %}
        <div class="col-6 card-group">
          <div class="card bg-dark">
            <div class="card-header" style="background-color: #e25443">
              <a target='_blank' href={{item.html_url}} style="color: #fff">
                {{item.full_name}}
              </a>
            </div>
            <div class="card-body" style="background-color: #21314a">
              <a target='_blank' href={{item.html_url}}>
                <div class='title'>
                  <h3 style="color: rgba(255,255,255,0.7);"> {{item.name}} </h3>
                </div>
              </a>
              <div style="color: rgba(255,255,255,0.7);">
                {% if item.description == "None" %}
                "Description not provided."
                {% else %}
                {{item.description}}
              </div>
              {% endif %}
              <div class="container-fluid">
                <div class="row">
                  <div class="col-6" style="color: rgba(255,255,255,0.7);"><strong> Language: </strong> {{item.language}} </div>
                  <div class="col-6" style="color: rgba(255,255,255,0.7);"><strong>Updated: </strong> {{item.updated_at}} </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if not forloop.counter0|divisibleby:2 %}
          </div>
          <br>
        {% endif %}
        {% endfor %}
      </div>
    </div>
{% endblock %}

  {% endblock %}
</div>
