{% extends 'main/base.html' %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<br>

<div id='recomm' class ="container-fluid" style=" height:300px; width:95%; overflow-x: scroll">
  <div class="row flex-row flex-nowrap" style="height: 95%">
    <div class="col-4 card-group align-items-stretch d-flex">
      <div class="card">
        <div class="card-header">
          <a target='_blank' href={{item.html_url}}>
            {{item.full_name}}
          </a>
        </div>
        <div class="card-body">
          <a target='_blank' href={{item.html_url}}>
            <div class='title'>
              <h3> {{item.name}} </h3>
            </div>
          </a>
          <div>
            {% if item.description == "" %}
            "Description not provided."
            {% else %}
            {{item.description}}
          </div>
          {% endif %}
          <div class="container-fluid">
            <div class="row">
              <div class="col-6"><strong> Language: </strong> {{item.language}} </div>
              <div class="col-6"><strong>Updated: </strong> {{item.updated_at}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 card-group align-items-stretch d-flex">
      <div class="card">
        <div class="card-header">
          <a target='_blank' href={{item.html_url}}>
            {{item.full_name}}
          </a>
        </div>
        <div class="card-body">
          <a target='_blank' href={{item.html_url}}>
            <div class='title'>
              <h3> {{item.name}} </h3>
            </div>
          </a>
          <div>
            {% if item.description == "" %}
            "Description not provided."
            {% else %}
            {{item.description}}
          </div>
          {% endif %}
          <div class="container-fluid">
            <div class="row">
              <div class="col-6"><strong> Language: </strong> {{item.language}} </div>
              <div class="col-6"><strong>Updated: </strong> {{item.updated_at}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 card-group align-items-stretch d-flex">
      <div class="card">
        <div class="card-header">
          <a target='_blank' href={{item.html_url}}>
            {{item.full_name}}
          </a>
        </div>
        <div class="card-body">
          <a target='_blank' href={{item.html_url}}>
            <div class='title'>
              <h3> {{item.name}} </h3>
            </div>
          </a>
          <div>
            {% if item.description == "" %}
            "Description not provided."
            {% else %}
            {{item.description}}
          </div>
          {% endif %}
          <div class="container-fluid">
            <div class="row">
              <div class="col-6"><strong> Language: </strong> {{item.language}} </div>
              <div class="col-6"><strong>Updated: </strong> {{item.updated_at}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 card-group align-items-stretch d-flex">
      <div class="card">
        <div class="card-header">
          <a target='_blank' href={{item.html_url}}>
            {{item.full_name}}
          </a>
        </div>
        <div class="card-body">
          <a target='_blank' href={{item.html_url}}>
            <div class='title'>
              <h3> {{item.name}} </h3>
            </div>
          </a>
          <div>
            {% if item.description == "" %}
            "Description not provided."
            {% else %}
            {{item.description}}
          </div>
          {% endif %}
          <div class="container-fluid">
            <div class="row">
              <div class="col-6"><strong> Language: </strong> {{item.language}} </div>
              <div class="col-6"><strong>Updated: </strong> {{item.updated_at}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div id="results" class="container">
      {% for item in data.items %}
      {% if forloop.counter0|divisibleby:2 %}
        <div class="row">
      {% endif %}
        <div class="col-6 card-group">
          <div class="card">
            <div class="card-header">
              <a target='_blank' href={{item.html_url}}>
                {{item.full_name}}
              </a>
            </div>
            <div class="card-body">
              <a target='_blank' href={{item.html_url}}>
                <div class='title'>
                  <h3> {{item.name}} </h3>
                </div>
              </a>
              <div>
                {% if item.description == "" %}
                "Description not provided."
                {% else %}
                {{item.description}}
              </div>
              {% endif %}
              <div class="container-fluid">
                <div class="row">
                  <div class="col-6"><strong> Language: </strong> {{item.language}} </div>
                  <div class="col-6"><strong>Updated: </strong> {{item.updated_at}} </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if not forloop.counter0|divisibleby:2 %}
          </div>
          <br>
        {% endif %}
        {% endfor %}
      </div>
<!--     <script>
      alert('{{ message }}');
    </script>
 -->
{% endblock %}