{% extends 'main/base.html' %}
{% block content %}
<div class="container-fluid shadow rounded" style="padding: 20px">
<h1 style="text-align: center">Leaderboard</h1>
<div class="table-responsive">
	<table class="table table-hover table-bordered rounded" style="border-radius: 10px">
		<tr class="info bg-info">
			<th>Student</th>
			<th>Effort (In Man hours)</th>
		</tr>
		{% for student in students %}
		<tr class="bg-light">
			<td class="col-md-4"> {{ student.handle }} </td>
			<td class="col-md-8"> {{ student.effort }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
