{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid" style="padding: 20px;">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
            <h4>Function Points:</h4>
        </div>
        <div class="col-8">
            <h4>{{ info.function_points }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4>Equivalent Man Hours:</h4>
        </div>
        <div class="col-8">
            <h4>{{ info.effort }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4>Function Points:</h4>
        </div>
        <div class="col-8">
            <h4>{{ info.function_points }}</h4>
        </div>
    </div>
</div>
<div class="col-6">
    <div class="row">
        <div class="col-4">
            <h4>Weekly Report:</h4>
        </div>
        <div class="col-8">
            <h4><a href='{{ info.report }}'>{{ info.report }}</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4>Mentor:</h4>
        </div>
        <div class="col-8">
            <h4>{{ info.mentor }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4>Github Handle:</h4>
        </div>
        <div class="col-8">
            <h4>{{ info.handle }}</h4>
        </div>
    </div>
</div>
</div>
</div>
<div class="container-fluid">
    <h1 style="text-align: center">Logged Commits</h1>
    <div class="table-responsive">
        <table class="table table-hover table-bordered" style="border-radius: 10px">
            <tr class="info bg-info">
                <th>Commit ID</th>
                <th>Time of Submission</th>
                <th>Points</th>
                <th>Evaluated</th>
                <th>Remarks</th>
            </tr>
            {% for i in issue_info %}
            <tr class="bg-light">
                <td class="col-md-2"> {{ i.commit_id }} </td>
                <td class='col-md-2'> {{ i.toc }}</td>
                <td class='col-md-1'> {{ i.issue_points }} </td>
                <td class='col-md-1'>
                    {% if i.is_added %}Yes{% else %}No{% endif %}
                </td>
                <td class="col-md-6"> {{ i.remark }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
    {% endblock %}