{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div style="padding:20px">
    <div class="container shadow rounded" style="padding: 20px">
        <h2> Submit Report</h2>
        <form enctype="multipart/form-data" class="form-horizontal"
            style="background-color:ghostwhite; padding: 20px; border-radius: 10px;"
            action="{% url 'main:submitreport' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <!-- <input type="submit" value="Submit"> -->
            <button type="submit" class="btn-primary btn-lg">Submit</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}