
<h2>Homepage</h2>
<p>Hello {{ user.username }}!</p>
<div id="results" class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <a target='_blank' href=item.html_url>
                        <div class='title'>
                            <h3> item.full_name</h3>
                        </div>
                    </a>
                    <div> item.description </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6"><strong> Language: </strong> {{item.language}} </div>
                            <div class="col-6"><strong>Updated: </strong> {{item.updated_at}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <a target='_blank' href=item.html_url>
                        <div class='title'>
                            <h3> item.full_name</h3>
                        </div>
                    </a>
                    <div> item.description </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-6"><strong> Language: </strong> {{item.language}} </div>
                            <div class="col-6"><strong>Updated: </strong> {{item.updated_at}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <a target='_blank' href=item.html_url>
                        <div class='title'>
                            <h3> item.full_name</h3>
                        </div>
                    </a>
                    <div> item.description </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6"><strong> Language: </strong> {{item.language}} </div>
                            <div class="col-6"><strong>Updated: </strong> {{item.updated_at}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <a target='_blank' href=item.html_url>
                        <div class='title'>
                            <h3> item.full_name</h3>
                        </div>
                    </a>
                    <div> item.description </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-6"><strong> Language: </strong> {{item.language}} </div>
                            <div class="col-6"><strong>Updated: </strong> {{item.updated_at}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row"> -->
        <!--  -->
        <!-- </div> -->
    </div>
</div>